{% extends "base.html" %}
hi
{% block content %}
    <form method="post">
	    <label>
		    <div>Username</div>
		    <input type="text" name="username" value="{{username}}">
	    </label>
	    <label>
		    <div>Password</div>
		    <input type="text" name="password">
	    </label>
	    <label>
		    <div>Verify Password</div>
		    <input type="text" name="verify">
	    </label>
	    <label>
		    <div>Email (optional)</div>
		    <input type="text" name="email" value="{{email}}">
	    </label>
	    <div class="error">{{error}}</div>
	    <input type="submit">
    </form>
{% endblock content %}
